body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  opacity:1;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  height: 99vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
}

.card {
  background-color: white;
  border-radius: 10px 10px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #024b47;
  padding: 30px;
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.app-description {
  font-size: 25px;
  color: white;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-bubble {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-top: 15px;
}

.chat-avatar {
  width: 35px;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  flex-shrink: 0;
}

.chat-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-message {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
  margin-top: 10px;
  margin-right: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: white;
  position: absolute;
  bottom: 15px;
}

.input-container input {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  width: 285px;
}

.input-container button {
  background-color:  #024b47;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.error {
  color: red;
}

.markdown-content {
  font-size: 14px;
  line-height: 1.5;
}
